<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>
<body>
    <header>
        <h1>Bienvenidos</h1>
    </header>
    <nav></nav>

    <section>
        <form method="POST" action="/user">
            <fieldset>
                <legend>User</legend>
                <label for="idUser">Id User:</label><br>
                <input type="text" id="idUser" name="idUser" required><br>
                <label for="pwdUser">Password User:</label><br>
                <input type="password" id="pwdUser" name="pwdUser" required><br><br>
                <input type="submit" value="Enviar">
            </fieldset>
        </form>
    </section>
</body>
</html>