<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <header>
        <h1>Bienvenidos</h1>
    </header>

    <table>
        <caption>Lista de Usuarios</caption>
        <thead>
            <tr>
                <th scope="col">Id User</th>
                <th scope="col">Name User</th>
                <th scope="col">Tel User</th>
                <th scope="col">Email User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>Mauricio</td>
                <td>54212</td>
                <td>m@loquesea.com</td>
            </tr>
            <tr>
                <td>456</td>
                <td>Jose</td>
                <td>98865</td>
                <td>j@loquesea.com</td>
            </tr>
        </tbody>
    </table>
</body>
</html>